<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {headTitle: 'Dashboard'}) %>
  <body>
    <%- include('./partials/navigation') %>

    <h1>Fixture Details</h1>

    <div class="fixture-wrapper">
      <a href="/team/<%= fixtureInfo.teams.home.id %>" class="home-team">
        <img class="team-logo" src="<%= fixtureInfo.teams.home.logo %>" />
        <h3><%= fixtureInfo.teams.home.name %></h3>
      </a>
      <div>
        <h1 id="home-score"><%= fixtureInfo.score.fulltime.home %></h1>
      </div>
      <div class="fixture-info">
        <p><%= formatDate(fixtureInfo.fixture.date) %></p>
        <p id="timestamp">
          <%= formatTimestampAsTime(fixtureInfo.fixture.timestamp) %>
        </p>
        <h3>VS</h3>
        <b id="timeElapsed"></b>
      </div>
      <h1 id="away-score"><%= fixtureInfo.score.fulltime.away %></h1>
      <a href="/team/<%= fixtureInfo.teams.away.id %>" class="away-team">
        <img class="team-logo" src="<%= fixtureInfo.teams.away.logo %>" />
        <h3><%= fixtureInfo.teams.away.name %></h3>
      </a>
    </div>
    <button id="shareBtn">Share Fixture</button>
    <h1 id="live-events-title"></h1>
    <div id="eventsContainer"></div>
    <script src="/js/main.js"></script>
    <script src="/js/sse.js"></script>
    <script src="/js/share.js"></script>
  </body>
</html>
