<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <a href="/">Home</a>
    <h1><%= movie.original_title %></h1>
    <p class="movie_overview"><%= movie.overview %></p>
    <p>Released on: <%= movie.release_date %></p>
    <img
      src="https://image.tmdb.org/t/p/original<%= movie.poster_path %>"
      alt=""
      class="movie_poster"
    />
  </body>
</html>
