<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head', {headTitle: 'movie details'}) %>
  </head>
  <body>
    <a href="/">Home</a>
    <h1><%= movie.original_title %></h1>
    <p class="movie_overview"><%= movie.overview %></p>
    <p>Released on: <%= movie.release_date %></p>
    <% if (movieTrailer) { %>
    <h2>Trailer</h2>
    <iframe
      width="560"
      height="315"
      src="<%= movieTrailer %>?autoplay=1"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <% } else { %>
    <p>No trailer available.</p>
    <% } %>
  </body>
</html>
