<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head', {headTitle: 'Dashboard'}) %>
  </head>
  <body>
    <img src="<%= teamData.standings[0][0].team.logo %>" alt="" />
    <h3><%= teamData.standings[0][0].team.name %></h3>
    <div class="upcoming-wrapper">
      <h1>Upcoming Game</h1>
      <% getUpcomingGames.forEach(game => { %>
      <a href="/fixture/<%= game.fixture.id %>" class="fixture-wrapper">
        <div class="home-team">
          <img class="team-logo" src="<%= game.teams.home.logo %>" />
          <h3><%= game.teams.home.name %></h3>
        </div>
        <div class="fixture-info">
          <p><%= formatDate(game.fixture.date) %></p>
          <p><%= formatTimestampAsTime(game.fixture.timestamp) %></p>
          <h3>VS</h3>
        </div>
        <div class="away-team">
          <img class="team-logo" src="<%= game.teams.away.logo %>" />
          <h3><%= game.teams.away.name %></h3>
        </div>
      </a>
      <% }) %>
    </div>
    <div class="upcoming-wrapper">
      <h1>Match Results</h1>
      <% resultsTeam.forEach(game => { %>
      <a href="/fixture/<%= game.fixture.id %>" class="fixture-wrapper">
        <div class="home-team">
          <img class="team-logo" src="<%= game.teams.home.logo %>" />
          <h3><%= game.teams.home.name %></h3>
        </div>
        <div>
          <h1><%= game.score.fulltime.home %></h1>
        </div>
        <div class="fixture-info">
          <p><%= formatDate(game.fixture.date) %></p>
          <p><%= formatTimestampAsTime(game.fixture.timestamp) %></p>
          <h3>VS</h3>
        </div>
        <div>
          <h1><%= game.score.fulltime.away %></h1>
        </div>
        <div class="away-team">
          <img class="team-logo" src="<%= game.teams.away.logo %>" />
          <h3><%= game.teams.away.name %></h3>
        </div>
      </a>
      <% }) %>
    </div>
  </body>
</html>
